# Launching files
launcher/ansible/hosts
launcher/ansible/roles/linux/files/config
launcher/ansible/roles/macos/files/config
launcher/ansible/roles/windows/files/config

# Build files
app/target

# Output files
snapshot*
app/snapshot*

# Compiled docs
site

# Test files
test.*