# Launching files
launcher/ansible/hosts
launcher/ansible/roles/linux/files/config.ini
launcher/ansible/roles/macos/files/config.ini
launcher/ansible/roles/windows/files/config.ini

# Build files
app/target

# Snapshot files
*.json

# Compiled docs
site

# Test data
test.*

!app/tests/*/*
